<% provide(:title, 'Quienes Somos') %>
<h1>Quienes Somos</h1>

<p>
	Se trata de un proyecto de fin de carrera realizado en la Escuela Tecnica Superior de Ingenieria Infórmática (ETSIT) Universidad de la universidad de Málaga (UMA) de la titulación Ingeniero Técnico en Informática de Gestión (ITIG). El objetivo de esta aplicación es permitir a la empresas gestionar las vacaciones de sus empleados así como otras ausencias (Bajas, Asuntos propios, etc) de modo que la información sea de fácil acceso a cualquier empleado que lo solicite y encontrandose siempre actualizada.  Al contrario de lo que ocurre actualmente en muchos casos en los que la información se encuentra en documentos Excel que no siempre estan actualizados ni son de fácil acceso.
	Se trata además de mostrar de una forma clara y concisa la información de los empleados disponibles cada día por departamento o área excluyendo los que se encuentren en algun tipo de ausencia personalizada por los administradores de las empresas.   


</p>
