<% provide(:title, 'Inicio') %>
<div class="center hero-unit">
	<h1>Aplicación Web para automatizar la gestión de vacaciones y ausencias.</h1>
	<h2>
		Este software le permitira sustituir los métodos habituales para la gestión de vacaciones y ausencias laborales, como hojas de cálculo, formularios en papel o envío de emails, que no son de fácil comprensión ni suelen estar debidamente actualizados, con el fin de tener acceso a la información sobre la disponibilidad de los empleados de forma rápida y fácil, y reduciendo la carga administrativa del proceso con la única necesidad de un dispositivo con conexión a internet.
	</h2>
	<%= link_to "Registrese ahora!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"),'http://rubyonrails.org/' %>
