<% provide(:title, 'Nuevo Calendario') %>
<h2 class="sub-header">Nuevo calendario</h2>
<%= render partial:'shared/error_messages',  object: @default_calendar, as: 'object' %>


<%= render 'form' %>


