<tr class="fields">
		<td><%= employee.nombre %></td>
		<td><%= employee.email %></td>
		<td><%= link_to 'Mostrar', employee %>|
		<% if current_user.role==3 && !current_user?(employee) %>
			<%= link_to "Dar de baja", employee, method: :delete, data: { confirm: "Esta seguro?" } %>
		<% end %>
		 </td>


</tr>
