<h2>Su password se ha reseteado correctamente</h2>

<p>Su nueva contraseña es: <%= @newpass %></p>

<p>
  Para acceder a la aplicación, haga click en el siguiente link: <%= link_to "GesCalendar", @url %>.
</p>
<p>Email enviado desde GesCalendar.</p>