<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.name %></h1>
    <p>
       Su registro en GesCalendar (http://gescalendar.herokuapp.com) se ha completado satisfactoriamente. 
       Su email de acceso es: <%= @user.email %>.<br>
    </p>
    <p>
      Para hacer login en la aplicación, haga click en el siguiente link: <%= @url %>.
    </p>
    <p>Gracias por registrarse en GesCalendar!.</p>
  </body>
</html>