<% provide(:title, 'Dias festivos del calendario') %>
<h2 class="sub-header">Editar Solicitud de tipo: <%= @default_request_type.nombre %> </h2>

<%= render partial:'shared/error_messages',  object: @default_request_type, as: 'object' %>

<%= render 'form' %>
