<% provide(:title, 'Nuevo tipo de solicitud') %>
<h2 class="sub-header">Nuevo tipo de solicitud</h2>

<%= render partial:'shared/error_messages',  object: @default_request_type, as: 'object' %>

<%= render 'form' %>


