       
          <ul class="nav nav-sidebar">
            <li><%= link_to "Calendarios", default_calendars_path %></li>  
            <li><%= link_to "Tipos de Permisos", default_request_types_path %></li>
          </ul>

          <ul class="nav nav-sidebar">
            <li><%= link_to "Estadísticas", admin_resumen_path %></li>
          </ul>

        