<!-- info errors -->
<% if defined?(object) %>
	<% if object.errors.any? %>
		<div id="error_explanation">
		    <div class="alert alert-danger" role="alert">
		      <h4>El formulario contiene <%= pluralize(object.errors.count,"error")+':' %></h4>
		      
		      <ul>
			      <% object.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
		      </ul>
		    </div>
		</div>
	<% end %>
<% end %>



