<style>
.datepicker{position: absolute;}
</style>
<% provide(:title, 'Lista de Departamentos') %>
<h2 class="sub-header">Departamentos</h2>
<div class="well well-small">
	<p> <%= link_to "Nuevo Departmento!", new_department_path, class: "btn btn-medium btn-primary" %> </p>

</div>

	<%= will_paginate %>
<table class="table table-hover table-striped">
<thead>
	<th >Nombre</th>
	<th>Periodos Mín. Disponibilidad </th>
	<th >Empleados Activos</th>
	<th >Empleados Baja </th>
	<th>&nbsp;</th>
	
	<th width="25%">&nbsp;</th>

</thead>
<tbody>
	<%= render @departments %>
</tbody>
</table>

<%= will_paginate %>


