<% provide(:title, 'Nuevo Departamento') %>
<h3>Nuevo Departamento</h3>

<% if @dpto.errors.any? %>
	<div id="error_explanation">

		<div class="alert alert-error">
		El formulario contiene <%= pluralize(@dpto.errors.count,"error") %>
		</div>
		<ul>
				<% @dpto.errors.full_messages.each do |msg| %>
					<li>* <%= msg %></li>
				<% end %> 
		</ul>
	</div>
<% end %>

<div class="row">
	<div class="offset1">
		
			<%= render 'form' %>
	</div>
</div>