<h1>Datos de la Empresa</h1>

<div class="row">
	<div class="span6 offset3">
	<%= form_for @emp do |f| %>
		<%= f.label :empresa %>
		<%= f.text_field :empresa %>

		<p><%= f.submit "Actualizar" , class:"btn btn-large btn-primary" %>


	<% end %>
	</div>
</div>