<h2 class="subheader"> Página de error 404 </h2>
<section class="content">

          <div class="error-page">
            <h2 class="headline text-yellow"> 404</h2>
            <div class="error-content">
              <h3><i class="fa fa-warning text-yellow"></i> Error ! Página no encontrada.</h3>
              <p>
                El recurso solicitado no existe.
                Acceda su perfil e intentelo de nuevo. <%= link_to "Mi perfil", root_path %>  
              </p>
            
            </div><!-- /.error-content -->
          </div><!-- /.error-page -->
        </section>