<footer class="main-footer">
        <div class="pull-right hidden-xs">
          Realizado por: <b>Juan Carlos Moreno Ruiz</b>
        </div>
        <strong>Copyright © 2014-2015 <%= link_to "GesCalendar", root_path %></strong>
</footer>
