 <footer class="footer">
      <div class="container">
        <p class="text-muted">Realizado por <strong>Juan Carlos Moreno Ruiz</strong>

		 <span class="pull-right">
		 	<%= link_to "Inicio", root_path %>&nbsp;&nbsp;|
		 	<%= link_to "Contacto", contact_path %>&nbsp;&nbsp;|
		 	<%= link_to "Quienes Somos", about_path %>
		 </span>

		 	
        </p>

      </div>

    </footer>
