<footer class="main-footer">
        <div class="pull-right hidden-xs">
          Realizado por: <b>Juan Carlos Moreno Ruiz</b>
        </div>
        <strong>Copyright © 2014-2015 <a href="http://almsaeedstudio.com">GesCalendar</a>.</strong>
</footer>
